<div class="code-block">
  <div class="code-header">
    <span class="code-language" *ngIf="data.language">{{ data.language }}</span>
    <span class="code-filename" *ngIf="data.filename">{{ data.filename }}</span>
    <button
      mat-icon-button
      class="copy-button"
      (click)="copyCode()"
      matTooltip="Copy code"
      aria-label="Copy code to clipboard"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <pre class="code-content"><code>{{ data.code }}</code></pre>
</div>
